<li class="group h-full w-full z-50">
  <button
    class="flex items-center justify-center transition h-full px-4 font-sans-semi-bold text-sm text-zinc-800 hover:bg-shaymin_darker active:bg-shaymin_darker"
  >
    {{ navItem.label }}
  </button>
  <div
    *ngIf="navItem.sections && navItem.sections.length > 0"
    class="absolute hidden left-0 border-zinc-800 w-screen group-hover:block overflow-y-auto max-h-[60vh]"
  >
    <ng-container *ngFor="let section of navItem.sections">
      <div class="">
        <div
          class="text-sm font-sans-semi-bold px-2 py-1 bg-shaymin_darker text-zinc-800"
        >
          {{ section.sectionTitle }}
        </div>
        <ul class="space-y-1">
          <li *ngFor="let option of section.options">
            <a
              href="{{ option.link }}"
              class="block px-4 py-2 font-sans text-sm hover:bg-zinc-800"
            >
              {{ option.label }}
            </a>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</li>
