<div class="flex flex-col rounded bg-byzantium w-full border border-zinc-800">
  <app-container-header
    [title]="'Pokémon Forms'"
    class="text-sm"
  ></app-container-header>
  <div
    class="flex flex-wrap items-center justify-evenly gap-2 rounded-b w-full bg-zinc-200 p-2"
    *ngIf="pokemon_forms"
  >
    <div
      *ngFor="let pokemon_form of pokemon_forms"
      class="flex flex-col items-center"
    >
      <img
        [src]="getFormImage(pokemon_form.id)"
        height="100"
        width="100"
        class="object-contain rounded-t"
      />
      <span class="text-zinc-800 text-center text-sm">{{
        pokemon_form.identifier
      }}</span>
    </div>
  </div>
</div>
