<div class="flex flex-col rounded bg-byzantium w-full border border-zinc-800">
  <app-container-header
    [title]="'Pokédex Descriptions'"
    class="text-sm"
  ></app-container-header>
  <div class="flex flex-col text-center rounded bg-zinc-800">
    <ul class="w-full flex flex-col">
      <li
        *ngFor="
          let description of showMore
            ? descriptions
            : (descriptions | slice : 0 : 3)
        "
        class="text-start text-sm border-y-zinc-700 border border-zinc-700 px-2 py-3"
        [ngClass]="descriptions.length <= 3 ? 'rounded-b' : ''"
      >
        {{ description }}
      </li>
    </ul>
    <a
      class="flex justify-center text-sm items-center py-2 px-4 transition rounded-b-sm cursor-pointer border border-zinc-700 bg-old_mauve"
      *ngIf="descriptions.length > 3"
      (click)="toggleShowMore()"
      >{{ showMore ? "Show Less" : "Show More" }}
    </a>
  </div>
</div>
