<div class="flex flex-col rounded bg-zinc-200 w-full border border-zinc-800">
  <app-container-header
    [title]="'Pokédex Descriptions'"
    class="text-sm"
  ></app-container-header>
  <div class="flex flex-col text-center rounded">
    <ul class="w-full flex flex-col">
      <li
        *ngFor="
          let description of showMore
            ? descriptions
            : (descriptions | slice : 0 : 3)
        "
        class="text-start text-sm text-zinc-800 border-y-zinc-300 border px-2 py-3"
        [ngClass]="descriptions.length <= 3 ? 'rounded-b' : ''"
      >
        {{ description }}
      </li>
    </ul>
    <a
      class="flex justify-center items-center py-2 px-4 transition rounded-b cursor-pointer border bg-zinc-800 border-zinc-700 hover:border-zinc-400 hover:ring-1 hover:ring-zinc-400 focus:outline-none focus:ring"
      *ngIf="descriptions.length > 3"
      (click)="toggleShowMore()"
      >{{ showMore ? "Show Less" : "Show More" }}
    </a>
  </div>
</div>
