<div
  class="d-flex justify-content-center align-items-center flex-wrap w-100 bg-dark z-5 fixed-bottom"
  style="height: 270px"
>
  <div class="team-row">
    <app-team-planner-item
      *ngFor="let pokemon of getFirstRow(); let index = index"
      [pokemon]="pokemon"
    ></app-team-planner-item>
  </div>

  <div class="team-row">
    <app-team-planner-item
      *ngFor="let pokemon of getSecondRow(); let index = index"
      [pokemon]="pokemon"
    ></app-team-planner-item>
  </div>
</div>
