<div class="team-planner bg-dark z-5">
  <div class="team">
    <div class="team-row">
      <app-team-planner-item
        *ngFor="let pokemon of getFirstRow(); let index = index"
        [pokemon]="pokemon"
        (removePokemonFromTeam)="removePokemonFromTeam(index)"
      ></app-team-planner-item>
    </div>
    <div class="team-row">
      <app-team-planner-item
        *ngFor="let pokemon of getSecondRow(); let index = index"
        [pokemon]="pokemon"
        (removePokemonFromTeam)="removePokemonFromTeam(index)"
      ></app-team-planner-item>
    </div>
  </div>
  <div class="team-options text-light">
    <button class="btn btn-outline-primary text-light">
      <i class="bi bi-graph-up"></i>
    </button>
    <button class="btn btn-outline-primary text-light">
      <i class="bi bi-dice-6-fill"></i>
    </button>
    <button class="btn btn-outline-primary text-light">
      <i class="bi bi-trash-fill"></i>
    </button>
  </div>
</div>
