<div class="flex justify-center items-center gap-2">
  <div class="relative inline-block w-12 h-6 select-none">
    <input
      type="checkbox"
      id="{{ id }}"
      [(ngModel)]="checked"
      (change)="toggleSwitch()"
      class="absolute block w-6 h-6 rounded-full bg-light_primary appearance-none cursor-pointer transition-transform duration-150 ease-in-out checked:translate-x-[25px] focus:outline-none"
      [attr.aria-checked]="checked"
      role="switch"
    />
    <label
      for="{{ id }}"
      [ngClass]="checked ? 'bg-porygon_blue' : 'bg-light_tertiary'"
      class="block overflow-hidden h-6 rounded-full cursor-pointer"
    ></label>
  </div>
  <span class="text-sm">
    {{ label }}
  </span>
</div>
