@import "src/styles/variables.scss";

.pokedex-list-item {
  background-color: $primary;
  cursor: pointer;
  width: 64px;
  height: 80px;

  .pokedex-list-item-picture {
    width: 62px;
    height: 62px;
    background-color: whitesmoke;
    margin: 0 auto;
    display: block;
  }

  .pokedex-list-item-picture:hover {
    transform: scale(1.15);
    transition: transform 0.2s ease-in-out;
  }

  .pokedex-list-item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    word-wrap: break-word;
    background-color: $primary;
    overflow: hidden;
    font-size: 0.5em;
    font-weight: bold;
    text-align: center;
  }
}
