<div class="card pokedex-list-item rounded border border-dark">
  <div
    class="text-dark rounded"
    [style.background]="
      pokemon.pokemon_species.details?.types ?? [] | typeBackgroundGenerator
    "
  >
    <img
      class="card-img-top"
      src="{{
        pokemon.pokemon_species.details?.sprites?.front_default
          ? pokemon.pokemon_species.details?.sprites?.front_default
          : 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png'
      }}"
      alt="Pokemon Preview Image"
    />
    <div class="pokedex-id-container rounded px-1 py-0">
      <p class="pokedex-id fw-bold white-outlined">
        #{{ pokemon.entry_number }}
      </p>
    </div>
    <div class="card-body rounded-bottom px-0 py-auto">
      <p class="card-title text-center text-nowrap fw-bold white-outlined">
        {{ localisedPokemonName }}
      </p>
    </div>
  </div>
</div>
