:root {
    /* general global variables */
    --primary-background-color: white; 
    --primary-color: black;
    /* type colours */ 
    --normal: #AAAA99;
    --fighting: #BB5544;
    --flying: #8899FF;
    --poison: #AA5599;
    --ground: #DDBB55;
    --rock: #BBAA66;
    --bug: #AABB22;
    --ghost: #6666BB;
    --steel: #AAAABB;
    --fire: #FF4422;
    --water: #3399FF;
    --grass: #77CC55    ;
    --electric: #FFCC33;
    --psychic: #FF5599;
    --ice: #66CCFF;
    --dragon: #8C7DF1;
    --dark: #775544;
    --fairy: #EE99EE;
    --unknown: grey;
    --shadow: black;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.dark-mode {
    --primary-background-color: black;
    --primary-color: white;
}

.invisible {
    display: none !important;
}

button {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    background-clip: padding-box;
    cursor: pointer;
    font-weight: bold;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 100%;

}

#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 4;
    height: 50px;
    font-size: 1em;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

#navbar {
    list-style-type: none;
    margin: 0;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    height: 100%;
    padding-top: 50px; 
    position: fixed;
    overflow: auto;
    z-index: 3;
    left: 0;
    top: 0;
    transition: 0.5s;
}

#navbar a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

#navbar a:hover {
    background-color: #555;
    color: white;
}

#navbar #close-button {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 28px;
    height: 50px;
    margin-left: 50px;
}

#game-select-container {
    width: 25%;
    display: flex;
    justify-content: flex-start;
}

#title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 50%;
}

.title-image {
    padding: 10px;
}

#title h1 {
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    white-space: nowrap
}

#dark-mode-container {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

#team-and-options {
    display: flex;
    top: 50px;
    position: fixed;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    z-index: 2;
}

#team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 150px;
    background-color: darkred;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 1.2vmin;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    color: black;
    cursor: pointer;
}

.pokemon-name {
    font-weight: bolder;
    font-size: 1.6em;
}

.team-member {
    color: black;
}

.team-member-image {
    height: 75px;
    width: auto;
}

.team-member-name {
    font-weight: bolder;
}

.types {
    display: flex;
    justify-content: center;
    align-items: center;
}
.type {
    display: inline-block;
    height: 20px;
    width: 50px;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    margin-bottom: 4px;
    border: 1px solid black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
}

#options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    width: 100%;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

#options > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    min-width: 100px;
}

#options > div:first-of-type {
    justify-content: flex-start;
}

#options > div:nth-of-type(3){
    justify-content: flex-end;
}

#options > button {
    padding: 10px;
}

#hms {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

#hms > input {
    padding-left: 25px;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    z-index: 1;
}

.pokedex-entry {
    color: black;
    cursor: pointer;
    font-weight: bold;   
}

.pokedex-name {
    font-weight: bolder;   
}

#faq {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    row-gap: 20px;
    font-size: 0.8em;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 3vh;    
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 0.6em;
}

@media screen and (max-width: 600px) {
    #team {
        height: 275px;
        flex-wrap: wrap;
    }
    .team-half {
        width: 100%;
        min-width: 300px;
        height: 125px;
    }
  }

@media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
  }