:root {
    /* general global variables */
    --primary-background-color: white; 
    --primary-color: black;
    /* type colours */ 
    --normal: #AAAA99;
    --fighting: #BB5544;
    --flying: #8899FF;
    --poison: #AA5599;
    --ground: #DDBB55;
    --rock: #BBAA66;
    --bug: #AABB22;
    --ghost: #6666BB;
    --steel: #AAAABB;
    --fire: #FF4422;
    --water: #3399FF;
    --grass: #77CC55    ;
    --electric: #FFCC33;
    --psychic: #FF5599;
    --ice: #66CCFF;
    --dragon: #8C7DF1;
    --dark: #775544;
    --fairy: #EE99EE;
    --unknown: grey;
    --shadow: black;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.dark-mode {
    --primary-background-color: black;
    --primary-color: white;
}

.content {
    font-family: 'Press Start 2P', cursive;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 23vh;
}

button {
    color: white;
    background-color: black;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 8vh;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

#team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 42);
    height: 250px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid black;
    text-align: center;
    border-radius: 10%;
    min-width: 100px;
    width: 200px;
    height: 250px;
    color: black;
}

.team-member-image {
    height: 67%
}

.type {
    width: 80%;
    border-radius: 10%;
    border: 1px solid white;
    padding: 3px;
    text-align: center;
    
}

#options {
    display: flex;
    margin: 20px auto;
    background-color: var(--primary-background-color);
    color: var(--primary-color);    
}

#options label {
    display: flex;
    padding: 0 20px;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.pokedex-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    margin: 5px;
    padding: 10px;
    font-size: 0.7em;
    color: black;
    
}

#footer {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 3vh;    
    margin-top: 20px;
    padding-left: 20px;
}