:root {
    /* general global variables */
    --primary-background-color: white; 
    --primary-color: black;
    /* type colours */ 
    --normal: #AAAA99;
    --fighting: #BB5544;
    --flying: #8899FF;
    --poison: #AA5599;
    --ground: #DDBB55;
    --rock: #BBAA66;
    --bug: #AABB22;
    --ghost: #6666BB;
    --steel: #AAAABB;
    --fire: #FF4422;
    --water: #3399FF;
    --grass: #77CC55    ;
    --electric: #FFCC33;
    --psychic: #FF5599;
    --ice: #66CCFF;
    --dragon: #8C7DF1;
    --dark: #775544;
    --fairy: #EE99EE;
    --unknown: grey;
    --shadow: black;
}

@font-face {
    font-family: 'PokemonGB';
    src: url('/fonts/PokemonGB.ttf')
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.dark-mode {
    --primary-background-color: black;
    --primary-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 25vh;
}

.invisible {
    display: none !important;
}

button {
    background-color: white;
    background-clip: padding-box;
    color: black;
    border: 10px solid transparent;
    border-image: url('/images/pokemon-text-box.png') 15 round;
    cursor: pointer;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 100%;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10vh;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

#navbar {
    list-style-type: none;
    margin: 0;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    height: 100%;
    padding-top: 60px; 
    position: fixed;
    overflow: auto;
    z-index: 1;
    left: 0;
    top: 0;
    transition: 0.5s;
}

#navbar a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

#navbar a:hover {
    background-color: #555;
    color: white;
}

#navbar #close-button {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

#game-select-container {
    width: 25%;
    display: flex;
    justify-content: flex-start;
}

#title {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
}

#dark-mode-container {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.header-button {
    height: 7vh;
    width: 105px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: darkred;
    height: 25vh;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 10px solid black;
    text-align: center;
    font-size: 1.2vmin;
    border-radius: 10%;
    height: 20vh;
    width: 15vw;
    color: black;
    cursor: pointer;
}

.team-member-image {
    width: max-content;
    height: auto;
}

.types {
    padding: 4px;
}

.type {
    display: inline-block;
    width: 66px;
    border-radius: 4px;
    margin-bottom: 4px;
    border: 1px solid black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
    font-family: 'Fira Sans', sans-serif;
}

#evaluate-team {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    width: 100%;
    padding-bottom: 10px;
}

#evaluate-team button {
    padding: 10px;
}

#options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0 20px;
    width: 100%;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

#options input {
    padding-left: 20px;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.pokedex-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    margin: 5px;
    padding: 10px;
    font-size: 0.7em;
    color: black;
    cursor: pointer;
    
}

#faq {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    row-gap: 20px;
    font-size: 0.8em;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 3vh;    
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 0.6em;
}

@media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
  }