<button *ngIf="!url; else link" (click)="handleClick()"></button>
<ng-template #link>
  <a
    class="flex justify-center items-center rounded gap-3 h-32 w-48 cursor-pointer bg-light_primary dark:bg-dark_primary p-4"
    routerLink="{{ url }}"
  >
    <div class="flex justify-center items-center">
      <ng-icon class="text-3xl" [name]="icon"></ng-icon>
    </div>
    <div class="flex flex-col justify-center items-center">
      <h2 class="font-bold w-full">{{ buttonText }}</h2>
      <p class="hidden sm:mt-1 sm:block sm:text-[10px]">
        {{ secondaryText }}
      </p>
    </div>
  </a>
</ng-template>
