<button
  *ngIf="!url; else link"
  type="button"
  class="py-2 px-4 h-10 text-sm flex justify-center items-center gap-2 rounded border border-zinc-700 cursor-pointer"
  (click)="handleClick()"
>
  <div class="h-[50%] flex justify-center items-center p-2">
    <img *ngIf="imageUrl" src="{{ imageUrl }}" height="60" width="60" />
  </div>
  <div class="h-[50%] flex flex-col justify-center items-center">
    <h2 class="font-bold w-full">{{ buttonText }}</h2>

    <p class="hidden sm:mt-1 sm:block sm:text-xs w-full">
      {{ secondaryText }}
    </p>
  </div>
</button>
<ng-template #link>
  <a
    class="flex flex-col justify-center items-center rounded-xl cursor-pointer bg-light_primary dark:bg-dark_primary p-4"
    routerLink="{{ url }}"
  >
    <div class="h-[50%] flex justify-center items-center p-2">
      <img *ngIf="imageUrl" src="{{ imageUrl }}" height="60" width="60" />
    </div>
    <div class="h-[50%] flex flex-col justify-center items-center">
      <h2 class="font-bold w-full">{{ buttonText }}</h2>

      <p class="hidden sm:mt-1 sm:block sm:text-xs w-full">
        {{ secondaryText }}
      </p>
    </div>
  </a>
</ng-template>
