<div class="flex flex-col rounded w-full bg-zinc-100">
  <div class="font-sans-semi-bold text-zinc-800 bg-shaymin p-2 rounded-t">
    Pokémon Base Stats
  </div>
  <div class="card-body text-center p-1">
    <ul class="list-group list-group-flush">
      <li *ngFor="let stat of stats" class="list-group-item text-start p-1">
        <div class="col-12 flex items-center">
          <p class="d-inline pe-3 mb-0 col-5">
            {{ getFormattedStatName(stat) }}
          </p>
          <div class="progress col-7">
            <div
              class="progress-bar"
              role="progressbar"
              [ngClass]="stat.stat.name"
              [ngStyle]="getProgressBarStyle(stat.base_stat)"
              aria-valuemin="0"
              aria-valuemax="255"
              [attr.aria-valuenow]="stat.base_stat"
            >
              <span class="white-outlined"> {{ stat.base_stat }}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
