<div class="flex flex-col rounded w-full bg-zinc-100 border border-zinc-800">
  <app-container-header [title]="'Pokémon Base Stats'"></app-container-header>
  <ul class="w-full flex flex-col text-zinc-800 rounded-b text-sm">
    <li
      *ngFor="let stat of stats"
      class="border-y-zinc-300 border-b p-2 rounded-b"
    >
      <div class="grid grid-cols-5 items-center">
        <p class="inline pr-2 col-span-2 font-sans-semi-bold">
          {{ getFormattedStatName(stat) }}:
        </p>
        <div class="w-full h-5 col-span-3 rounded bg-zinc-300">
          <div
            class="text-center rounded-l"
            [ngClass]="getProgressBarClass(stat.stat.name)"
            [ngStyle]="getProgressBarStyle(stat.base_stat)"
            aria-valuemin="0"
            aria-valuemax="255"
            [attr.aria-valuenow]="stat.base_stat"
          >
            <span class="white-outlined px-2"> {{ stat.base_stat }}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
