.hp {
  background-color: #fd0000;
}
.attack {
  background-color: #f2802e;
}
.defense {
  background-color: #f8d030;
}
.special-attack {
  background-color: #6890eb;
}
.special-defense {
  background-color: #75c853;
}
.speed {
  background-color: #f6588b;
}
