<div class="flex flex-col items-center p-4">
  <div class="max-w-screen-lg bg-zinc-950 rounded p-4 w-full min-h-[500px]">
    <ng-container *ngIf="pokemonSpecies && pokemonForms; else loading">
      <div class="flex flex-col items-center w-full">
        <div class="flex flex-col items-center w-full">
          <dd-pokemon-navigation
            [pokedexGeneration]="versionGroupIdentifier"
            [pokemonSpecies]="pokemonSpecies"
            (selectedVersionGroup)="handleSelectedVersionGroup($event)"
            (versions)="handleVersions($event)"
            class="w-full"
          ></dd-pokemon-navigation>
          <div class="flex flex-col gap-3 w-full">
            <section class="flex flex-col sm:flex-row gap-3 w-full">
              <dd-pokemon-summary
                [selectedForm]="selectedForm"
                [pokemonSpecies]="pokemonSpecies"
                class="h-full w-full sm:w-1/2"
              >
              </dd-pokemon-summary>
              <dd-pokemon-data
                [pokemon]="selectedForm"
                [pokemon_species]="pokemonSpecies"
                class="h-full w-full sm:w-1/2"
              ></dd-pokemon-data>
            </section>
            <section class="w-full">
              <dd-pokemon-forms
                *ngIf="pokemonForms.length > 1"
                (newSelectedForm)="handleNewSelectedForm($event)"
                [pokemonForms]="pokemonForms"
                [selectedForm]="selectedForm"
              ></dd-pokemon-forms>
            </section>
            <section class="flex flex-col sm:flex-row gap-3 w-full">
              <dd-pokemon-stats
                *ngIf="selectedForm.id"
                [pokemonId]="selectedForm.id"
                class="h-full w-full sm:w-1/2"
              ></dd-pokemon-stats>
              <dd-pokemon-descriptions
                *ngIf="pokemonSpecies.id"
                [pokemonSpeciesId]="pokemonSpecies.id"
                [versions]="versions"
                class="h-full w-full sm:w-1/2"
              ></dd-pokemon-descriptions>
            </section>
            <section class="flex flex-col gap-3 w-full">
              <dd-pokemon-moves
                *ngIf="selectedForm.id"
                [pokemonId]="selectedForm.id"
                [versionGroupId]="selectedVersionGroup.id"
                class="h-full w-full"
              ></dd-pokemon-moves>
            </section>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="w-full">
        <dd-spinner></dd-spinner>
      </div>
    </ng-template>
  </div>
</div>
