<div class="flex flex-col items-center p-4">
  <div class="max-w-screen-lg bg-zinc-950 rounded p-4 w-full min-h-[500px]">
    <ng-container *ngIf="pokemonSpecies && pokemonForms; else loading">
      <div class="flex flex-col items-center w-full">
        <div class="flex flex-col items-center w-full">
          <app-pokemon-navigation
            [pokedexGeneration]="pokedexGeneration"
            [pokemonSpecies]="pokemonSpecies"
            [selectedVersionGroup]="selectedVersionGroup"
            (versions)="handleVersions($event)"
            class="w-full"
          ></app-pokemon-navigation>
          <section
            class="flex flex-col md:flex-row items-center md:items-start gap-3 w-full"
          >
            <app-pokemon-summary
              [selectedForm]="selectedForm"
              [pokemonSpecies]="pokemonSpecies"
              class="h-full w-full"
            >
            </app-pokemon-summary>
            <div
              class="flex flex-col justify-between w-full md:w-1/2 gap-3 rounded"
              *ngIf="selectedForm.id"
            >
              <app-pokemon-forms
                *ngIf="pokemonForms.length > 1"
                (newSelectedForm)="handleNewSelectedForm($event)"
                [pokemonForms]="pokemonForms"
                [selectedForm]="selectedForm"
              ></app-pokemon-forms>
              <app-pokemon-data
                [pokemon]="selectedForm"
                [pokemon_species]="pokemonSpecies"
              ></app-pokemon-data>
            </div>
          </section>
          <section class="w-full my-3 flex flex-col items-center gap-3">
            <app-pokemon-stats
              *ngIf="selectedForm.id"
              [pokemon_id]="selectedForm.id"
            ></app-pokemon-stats>
            <app-pokemon-descriptions
              *ngIf="pokemonSpecies.id && versions.length > 0"
              class="w-full"
              [pokemon_species_id]="pokemonSpecies.id"
              [versions]="versions"
            ></app-pokemon-descriptions>
          </section>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="w-full">
        <app-spinner></app-spinner>
      </div>
    </ng-template>
  </div>
</div>
