<div class="flex flex-col justify-start items-center w-full h-full">
  <div
    class="grid grid-cols-2 xl:grid-cols-3 gap-2 m-4 max-w-screen-2xl h-full w-full"
  >
    <div
      class="col-span-2 xl:col-span-1 columns-2 xl:columns-1 flex flex-row xl:flex-col gap-4 p-2 xl:py-0 w-full"
    >
      <dd-card [title]="'Filters & Options'">
        <div class="p-4 flex gap-2 items-center">
          <dd-dropdown
            [sections]="dropdownSections"
            [placeholder]="
              this.versionGroup.name ? this.versionGroup.name : 'Select Pokédex'
            "
          >
          </dd-dropdown>
          <dd-switch
            [checked]="listView"
            [label]="'List View'"
            (checkedChange)="toggleListView()"
          >
          </dd-switch>
        </div>
      </dd-card>
    </div>
    <dd-card
      class="col-span-2 h-full"
      [title]="
        this.versionGroup.name ? this.versionGroup.name + ' Pokedex' : 'Pokedex'
      "
    >
      <div *ngIf="pokedexes.length > 0; else spinner" class="p-4">
        <dd-tab-list
          *ngIf="pokedexTabs.length > 1; else noTabsView"
          [tabs]="pokedexTabs"
          [activeTab]="selectedPokedex"
          (tabChange)="selectTab($event)"
        >
          <dd-pokedex-view
            [pokedex]="selectedPokedex"
            [listView]="listView"
            [versionGroupIdentifier]="versionGroupIdentifier"
          ></dd-pokedex-view
        ></dd-tab-list>
        <ng-template #noTabsView>
          <dd-pokedex-view
            [pokedex]="selectedPokedex"
            [listView]="listView"
            [versionGroupIdentifier]="versionGroupIdentifier"
          ></dd-pokedex-view>
        </ng-template>
      </div>
      <ng-template #spinner>
        <div class="flex w-full h-64 justify-center items-center">
          <dd-spinner></dd-spinner>
        </div>
      </ng-template>
    </dd-card>
  </div>
</div>
