@import "src/styles/variables.scss";

.pokedex {
  margin-bottom: 255px;

  .pokedex-navbar {
    border-bottom: 1px solid #343a40;
    z-index: 5;
  }
}

.pokedex-title {
  font-family: "BebasNeueRegular", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pokedex-list {
  gap: 10px;
  margin-bottom: 10px;
  min-width: 360px;
  overflow-y: scroll;
  padding: 5px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.pokedex-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: none;
}
