<div class="d-flex flex-column bg-dark w-100 h-100 position-relative">
  <nav
    class="navbar navbar-expand-sm position-fixed navbar-dark bg-dark w-100"
    style="z-index: 5; border-bottom: 2px solid #343a40"
    [ngStyle]="{ height: isMenuCollapsed ? '56px' : 'auto' }"
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler border-0"
        type="button"
        (click)="isMenuCollapsed = !isMenuCollapsed"
        [ngStyle]="{
          outline: isMenuCollapsed ? 'none' : '1px solid #30c767'
        }"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul
          class="navbar-nav justify-content-between w-100 my-1"
          style="gap: 6px"
        >
          <li class="nav-item" ngbDropdown>
            <a
              class="nav-link text-light"
              tabindex="0"
              ngbDropdownToggle
              id="navbarDropdown"
              role="button"
            >
              <i class="bi-journals"></i>
              {{ getPokedexTitle() }}
            </a>
            <div
              ngbDropdownMenu
              aria-labelledby="navbarDropdown"
              class="dropdown-menu"
              style="max-height: 300px; overflow-y: auto"
            >
              <a
                *ngFor="let version of pokedexVersions"
                [routerLink]="'../' + version.key"
                ngbDropdownItem
              >
                {{ version.value }}
              </a>
            </div>
          </li>
          <li class="nav-item">
            <button
              class="btn btn-outline-primary active"
              (click)="toggleTeamPlannerMode()"
              [ngClass]="{
                active: teamPlannerMode === true
              }"
            >
              Team Planner Mode
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="pokedex-list d-flex flex-wrap justify-content-center align-items-start align-content-start card-deck w-100 mt-5 py-4"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [immediateCheck]="true"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
  >
    <app-pokedex-list-item
      *ngFor="let pokemon of loadedPokemonEntries"
      [pokemon]="pokemon"
      (click)="onPokemonClick(pokemon)"
    ></app-pokedex-list-item>

    <div
      class="d-flex justify-content-center align-items-center w-100 mt-5"
      *ngIf="isLoading"
    >
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
  <app-team-planner
    class="position-fixed"
    style="height: 200px"
    *ngIf="teamPlannerMode"
    [pokemonTeam]="pokemonTeam"
  ></app-team-planner>
</div>
