<div class="flex flex-col bg-dark">
  <div
    class="flex items-center h-16 w-full px-4 mb-4 gap-4 border-b-[1px] border-gray-400 bg-black"
  >
    <button
      class="bg-zinc-800 hover:bg-green-800 outline outline-1 outline-gray-400 hover:outline-2 font-bold py-2 px-4 rounded"
      (click)="navigateToVersionSelect()"
    >
      Select Game
    </button>
  </div>
  <div class="flex flex-col">
    <h2 class="font-righteous text-3xl mb-5 mx-3 uppercase">
      {{ this.formattedVersionGroupName }} Pokédex
    </h2>
    <ng-container *ngFor="let pokedex of pokedexes">
      <h3
        *ngIf="pokedexes.length > 1"
        class="font-righteous text-2xl mb-3 mx-3 text-center"
      >
        {{ getFormattedPokedexName(pokedex.name) }}
      </h3>
      <div class="flex flex-wrap justify-center p-5 gap-2">
        <app-pokedex-list-item
          *ngFor="let pokemon of pokedex.pokemon_entries"
          [pokemon]="pokemon"
          (click)="onPokemonClick(pokemon)"
        ></app-pokedex-list-item>
      </div>
    </ng-container>
  </div>
</div>
