<div class="flex flex-col rounded w-full bg-byzantium">
  <app-container-header
    [title]="'Pokémon Base Stats'"
    class="text-sm"
  ></app-container-header>
  <ul class="w-full flex flex-col bg-zinc-800 rounded-b text-sm">
    <li *ngFor="let stat of stats" class="border-y-zinc-700 border-b p-2">
      <div class="grid grid-cols-5 items-center">
        <p class="inline pr-2 col-span-2 font-sans-semi-bold text-sm">
          {{ stat.stat_id.name }}
        </p>
        <div
          class="w-full h-[20px] col-span-3 rounded border-zinc-700 box-border border-[1px] bg-zinc-600"
        >
          <div
            class="rounded-l h-full flex justify-center items-center"
            [ngClass]="getProgressBarClass(stat.stat_id.id)"
            [ngStyle]="getProgressBarStyle(stat.base_stat)"
            aria-valuemin="0"
            aria-valuemax="255"
            [attr.aria-valuenow]="stat.base_stat"
          >
            <span class="white-outlined text-sm"> {{ stat.base_stat }}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
