<div
  *ngIf="pokemon && pokemon_species"
  class="flex flex-col rounded w-full bg-byzantium border border-zinc-800"
>
  <app-container-header
    [title]="'Pokédex Data'"
    class="text-sm"
  ></app-container-header>
  <ul class="w-full flex flex-col bg-zinc-800 rounded-b text-sm">
    <li class="border-y-zinc-700 border-b p-2">
      <span class="font-semibold">Classification:</span>
      {{ pokemon_species.genus }}
    </li>
    <li class="border-y-zinc-700 border-b p-2">
      <span class="font-semibold">Height:</span>
      {{ pokemon.height | decimetersToFeetAndInches }}
    </li>
    <li class="border-y-zinc-700 border-b p-2">
      <span class="font-semibold">Weight:</span>
      {{ pokemon.weight | decimetersToPounds }}
    </li>
    <li class="p-2">
      <p class="font-semibold mb-2">Gender Ratio:</p>
      <app-pokemon-gender-ratio
        [rate]="pokemon_species.gender_rate"
      ></app-pokemon-gender-ratio>
    </li>
  </ul>
</div>
