<div
  *ngIf="pokemon && pokemon_species"
  class="flex flex-col rounded w-full bg-byzantium border border-zinc-800"
>
  <app-container-header
    [title]="'Pokédex Data'"
    class="text-sm"
  ></app-container-header>
  <table class="table-auto w-full bg-zinc-800 rounded-b text-sm">
    <thead class="sr-only">
      <tr>
        <th>Data</th>
        <th>Value(s)</th>
      </tr>
    </thead>
    <tr class="border-b border-y-zinc-700">
      <td class="w-1/4 p-2 font-semibold">Classification:</td>
      <td class="p-2">
        {{ pokemon_species.genus }}
      </td>
    </tr>
    <tr class="border-b border-y-zinc-700">
      <td class="w-1/4 p-2 font-semibold">Abilities:</td>
      <td class="p-2">
        <ul>
          <li
            *ngFor="let pokemonAbility of pokemonAbilities"
            [ngClass]="pokemonAbility.is_hidden ? 'italic' : ''"
          >
            {{ pokemonAbility.ability_id.name }}
          </li>
        </ul>
      </td>
    </tr>
    <tr class="border-b border-y-zinc-700">
      <td class="w-1/4 p-2 font-semibold">Pokédex №:</td>
      <td class="p-2">
        <ul>
          <li>#{{ pokemon_species.id }} - National</li>
        </ul>
      </td>
    </tr>
    <tr class="border-b border-y-zinc-700">
      <td class="w-1/4 p-2 font-semibold">Height:</td>
      <td class="p-2">
        {{ pokemon.height | decimetersToFeetAndInches }}
      </td>
    </tr>
    <tr class="border-b border-y-zinc-700">
      <td class="w-1/4 p-2 font-semibold">Weight:</td>
      <td class="p-2">
        {{ pokemon.weight | decimetersToPounds }}
      </td>
    </tr>
    <tr class="border-b border-y-zinc-700">
      <td class="w-1/4 p-2 font-semibold">Gender Ratio:</td>
      <td class="p-2">
        <app-pokemon-gender-ratio
          [rate]="pokemon_species.gender_rate"
        ></app-pokemon-gender-ratio>
      </td>
    </tr>
  </table>
</div>
