<dd-card [title]="'Pokédex Data'">
  <table
    class="table-auto w-full bg-light_primary dark:bg-dark_primary rounded-b text-sm"
  >
    <thead class="sr-only">
      <tr>
        <th>Data</th>
        <th>Value(s)</th>
      </tr>
    </thead>
    <tr class="border-b border-y-light_tertiary dark:border-y-dark_tertiary">
      <td class="w-1/4 p-2 font-semibold">Classification:</td>
      <td class="p-2">
        {{ pokemon_species.genus }}
      </td>
    </tr>
    <tr class="border-b border-y-light_tertiary dark:border-y-dark_tertiary">
      <td class="w-1/4 p-2 font-semibold">Abilities:</td>
      <td class="p-2">
        <ul>
          <li
            *ngFor="let pokemonAbility of pokemonAbilities"
            [ngClass]="pokemonAbility.is_hidden ? 'italic' : ''"
          >
            {{ pokemonAbility.ability_id.name }}
          </li>
        </ul>
      </td>
    </tr>
    <tr class="border-b border-y-light_tertiary dark:border-y-dark_tertiary">
      <td class="w-1/4 p-2 font-semibold">Pokédex №:</td>
      <td class="p-2">
        <ul>
          <li>#{{ pokemon_species.id }} - National</li>
        </ul>
      </td>
    </tr>
    <tr class="border-b border-y-light_tertiary dark:border-y-dark_tertiary">
      <td class="w-1/4 p-2 font-semibold">Height:</td>
      <td class="p-2">
        {{ pokemon.height | decimetersToFeetAndInches }}
      </td>
    </tr>
    <tr class="border-b border-y-light_tertiary dark:border-y-dark_tertiary">
      <td class="w-1/4 p-2 font-semibold">Weight:</td>
      <td class="p-2">
        {{ pokemon.weight | decimetersToPounds }}
      </td>
    </tr>
    <tr class="border-b border-y-light_tertiary dark:border-y-dark_tertiary">
      <td class="w-1/4 p-2 font-semibold">Gender Ratio:</td>
      <td class="p-2">
        <dd-pokemon-gender-ratio
          [rate]="pokemon_species.gender_rate"
        ></dd-pokemon-gender-ratio>
      </td>
    </tr>
  </table>
</dd-card>
