<div class="group h-full w-full z-50 sm:relative">
  <button
    (click)="toggleDropdown()"
    [ngClass]="{
      'bg-light_tertiary dark:bg-dark_tertiary': isOpen,
    }"
    class="flex items-center justify-center transition h-full px-2 font-semibold text-sm hover:bg-light_tertiary dark:hover:bg-dark_tertiary"
  >
    {{ navItem.label }}
  </button>
  <ul
    *ngIf="navItem.sections && navItem.sections.length > 0"
    [ngClass]="{
      'visible, scale-y-100': isOpen,
      'invisible, scale-y-0': !isOpen,
    }"
    class="absolute right-0 z-50 bg-white dark:bg-black sm:rounded-b border-light_tertiary dark:border-dark_tertiary border-[1px] mr-[1px] border-t-0 w-screen sm:w-80 overflow-y-auto max-h-[60vh] origin-top sm:origin-top-right transition ease-in-out duration-200 transform"
  >
    <ng-container *ngFor="let section of navItem.sections">
      <li class="">
        <div
          class="text-sm font-semibold px-2 py-1 bg-porygon_blue_darker text-light_primary"
        >
          {{ section.sectionTitle }}
        </div>
        <ul class="space-y-1">
          <li *ngFor="let option of section.options">
            <a
              routerLink="{{ option.link }}"
              class="block px-4 py-2 font-sans text-sm hover:bg-light_tertiary dark:hover:bg-dark_tertiary"
            >
              {{ option.label }}
            </a>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
