<div *ngIf="pokemon" class="flex flex-col rounded w-full bg-zinc-100">
  <div class="text-zinc-800 bg-shaymin">Pokédex Data</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item pokemon-detail">
      <span class="fw-bold">Classification:</span>
      {{ pokemon.pokemon_species_details.genera[7].genus }}
    </li>
    <li class="list-group-item pokemon-detail">
      <span class="fw-bold">Height:</span>
      {{ pokemon.pokemon_details.height | decimetersToFeetAndInches }}
    </li>
    <li class="list-group-item pokemon-detail">
      <span class="fw-bold">Weight:</span>
      {{ pokemon.pokemon_details.weight | decimetersToPounds }}
    </li>
    <li class="list-group-item">
      <p class="fw-bold mb-1">Gender Ratio:</p>
      <app-gender-ratio
        [rate]="pokemon.pokemon_species_details.gender_rate"
      ></app-gender-ratio>
    </li>
  </ul>
</div>
