<div
  *ngIf="pokemon"
  class="flex flex-col rounded w-full bg-zinc-200 border border-zinc-800"
>
  <app-container-header [title]="'Pokédex Data'"></app-container-header>
  <ul class="w-full flex flex-col text-zinc-800 rounded-b text-sm">
    <li class="border-y-zinc-300 border-b p-2">
      <span class="font-sans-semi-bold">Classification:</span>
      {{ pokemon.pokemon_species_details.genera[7].genus }}
    </li>
    <li class="border-y-zinc-300 border-b p-2">
      <span class="font-sans-semi-bold">Height:</span>
      {{ pokemon.pokemon_details.height | decimetersToFeetAndInches }}
    </li>
    <li class="border-y-zinc-300 border-b p-2">
      <span class="font-sans-semi-bold">Weight:</span>
      {{ pokemon.pokemon_details.weight | decimetersToPounds }}
    </li>
    <li class="p-2">
      <p class="font-sans-semi-bold mb-1">Gender Ratio:</p>
      <app-gender-ratio
        [rate]="pokemon.pokemon_species_details.gender_rate"
      ></app-gender-ratio>
    </li>
  </ul>
</div>
