@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Righteous";
  src: url("../assets/fonts/righteous/Righteous-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/noto-sans/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans Light";
  src: url("../assets/fonts/noto-sans/NotoSans-Light.ttf");
}

@font-face {
  font-family: "Noto Sans Semi-Bold";
  src: url("../assets/fonts/noto-sans/NotoSans-SemiBold.ttf");
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("../assets/fonts/noto-sans/NotoSans-Bold.ttf");
}
html,
body {
  box-sizing: border-box;
  background-color: #09090b /* zinc-950 */;
  color: #e4e4e7 /* zinc-200 */;
  min-height: 100vh;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.white-outlined {
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
