//Overwrite Bootstrap variables
$primary: #30c767;
$secondary: #ff5c74;
$info: #1baaca;
$dark: #27272a;

//Custom values
$rich-black: #000512;
$folly: #ff5260;
$oxford-blue: #00223d;
$lavender-blush: #fef0ee;
$aero: #20c0e4;

// $normal: "#AAAA99";
// $normaldarker: "#848471";
// $fighting: "#BB5544";
// $fightingdarker: "#903a2b";
// $flying: "#8899FF";
// $flyingdarker: "#475ee8";
// $poison: "#AA5599";
// $poisondarker: "#822b74";
// $ground: "#DDBB55";
// $grounddarker: "#b69532";
// $rock: "#BBAA66";
// $rockdarker: "#958453";
// $bug: "#AABB22";
// $bugdarker: "#82900e";
// $ghost: "#6666BB";
// $ghostdarker: "#484890";
// $steel: "#AAAABB";
// $steeldarker: "#7f7f94";
// $fire: "#FF4422";
// $firedarker: "#ca2b0e";
// $water: "#3399FF";
// $waterdarker: "#1174d7";
// $grass: "#77CC55";
// $grassdarker: "#579F3A";
// $electric: "#FFCC33";
// $electricdarker: "#d7a511";
// $psychic: "#FF5599";
// $psychicdarker: "#ea1a6d";
// $ice: "#66CCFF";
// $icedarker: "#29a9ea";
// $dragon: "#8C7DF1";
// $dragondarker: "#5643d7";
// $darkx: "#775544";
// $darkdarker: "#573a2b";
// $fairy: "#EE99EE";
// $fairydarker: "#d15ed1";
// $unknown: "grey";
// $unknowndarker: "darkgrey";
// $shadow: "black";
// $shadowdarker: "black";

// $theme-colors: (
//   "primary": #ff5260,
//   "secondary": #00223d,
//   "success": #50c622,
//   "info": #20c0e4,
//   "warning": #fbc77e,
//   "danger": #ff0d00,
//   "light": #fef0ee,
//   "dark": #000512,
//   "white": #ffffff,
//   "black": #000000,
//   "rich-black": #000512,
//   "folly": #ff5260,
//   "oxford-blue": #00223d,
//   "lavender-blush": #fef0ee,
//   "aero": #20c0e4,
// );
