<div class="flex flex-col justify-start items-center h-full w-screen">
  <div class="flex flex-col justify-start items-center h-full w-full">
    <div
      class="h-72 flex items-end w-screen"
      style="
        background-image: url('assets/images/gracidea-field-close.png');
        background-size: cover;
        background-position: center;
      "
    >
      <div class="w-full h-full pr-4 pb-4" style="backdrop-filter: blur(4px)">
        <div
          class="flex flex-col items-end justify-end h-full max-w-screen-2xl"
        >
          <div
            class="bg-shaymin_darker max-w-fit p-1 flex flex-col items-end mb-1 rounded border-zinc-800 border-2 cursor-default"
          >
            <span class="white-outlined text-right">Welcome to</span>
            <h2 class="text-4xl font-righteous uppercase white-outlined">
              Gracidea
            </h2>
          </div>
          <span
            class="bg-zinc-950 p-1 max-w-[50%] text-sm rounded cursor-default"
            >Pokémon-related Tools, Resources, News and More</span
          >
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 xl:grid-cols-3 gap-4 m-4 max-w-screen-2xl">
      <div class="col-span-2">
        <h2
          class="flex justify-center font-sans-semi-bold bg-shaymin rounded-t text-zinc-800 p-2 border-b border-zinc-800"
        >
          News & Updates
        </h2>
        <div
          *ngIf="posts && posts.length > 0"
          class="flex flex-col gap-3 items-center p-4 bg-zinc-950"
        >
          <app-post-card
            *ngFor="let post of posts"
            [post]="post"
          ></app-post-card>
        </div>
        <ng-container> </ng-container>
      </div>
      <div class="col-span-1">
        <div class="bg-zinc-950 rounded">
          <h3
            class="flex justify-center font-sans-semi-bold bg-shaymin rounded-t text-zinc-800 p-2 border-b border-zinc-800"
          >
            Quick Links
          </h3>
          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 w-full p-4">
            <app-quick-link
              [url]="'/pokedex'"
              [imageUrl]="'assets/images/bdsp-pokedex-icon.png'"
              [title]="'Pokédex'"
              [description]="'View Pokémon data from any main series game'"
            ></app-quick-link>
            <app-quick-link></app-quick-link>
            <app-quick-link></app-quick-link>
            <app-quick-link></app-quick-link>
            <app-quick-link></app-quick-link>
            <app-quick-link></app-quick-link>
          </div>
          <div class="h-full w-full bg-shaymin"></div>
        </div>
      </div>
    </div>
  </div>
</div>
