<div class="flex flex-col justify-start items-center h-full w-full">
  <div class="flex flex-col justify-start items-center h-full w-full">
    <div class="flex justify-center items-center px-2 py-4">
      <h3 class="font-sans-light h-full text-center">
        Pokémon-related Tools, Resources, News and More
      </h3>
    </div>
    <div
      class="grid grid-cols-2 xl:grid-cols-3 gap-4 mb-4 mx-8 max-w-screen-2xl"
    >
      <app-news-container class="col-span-2"></app-news-container>
      <div class="col-span-2 lg:col-span-1">
        <div class="bg-zinc-950 rounded">
          <app-container-header
            [title]="'Quick Links'"
            class="text-sm"
          ></app-container-header>
          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 w-full p-4">
            <app-quick-link
              [url]="'/pokedex'"
              [imageUrl]="'assets/images/bdsp-pokedex-icon.png'"
              [title]="'Pokédex'"
              [description]="'View data from any main series game'"
            ></app-quick-link>
            <app-quick-link
              [url]="'/team-builder'"
              [imageUrl]="'assets/images/poryphone.png'"
              [title]="'Team Builder'"
              [description]="'Plan a team for a playthrough'"
            ></app-quick-link>
            <app-quick-link
              [url]="'/pokedex/national/' + randomPokemonIdentifier"
              [imageUrl]="'assets/images/question-icon.png'"
              [title]="'Random Pokémon'"
              [description]="'View a random Pokémon\'s information'"
            ></app-quick-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
