<div class="flex flex-col rounded bg-byzantium w-full">
  <app-container-header
    [title]="'Pokédex Descriptions'"
    class="text-sm"
  ></app-container-header>
  <div class="flex flex-col text-center rounded bg-zinc-800">
    <ul
      *ngIf="descriptions.length > 0 && versions; else noDescriptions"
      class="w-full flex flex-col"
    >
      <li
        *ngFor="let description of descriptions"
        class="flex gap-2 text-start text-sm border-y-zinc-700 border-b border-zinc-700 px-2 py-3"
        [ngClass]="descriptions.length <= 3 ? 'rounded-b' : ''"
      >
        <div>
          <span class="font-bold text-sm text-center">
            {{ getVersionName(description.version_id) }}
          </span>
        </div>
        <span>
          {{ description.flavor_text }}
        </span>
      </li>
    </ul>
    <ng-template #noDescriptions>
      <div class="flex flex-col items-center justify-center w-full h-full">
        <span class="text-sm text-center">
          No descriptions available for this Pokémon
        </span>
      </div>
    </ng-template>
  </div>
</div>
