<div class="flex flex-col rounded bg-disc w-full">
  <dd-card-header
    [title]="'Pokédex Descriptions'"
    class="text-sm"
  ></dd-card-header>
  <table
    *ngIf="descriptions.length > 0 && versions; else noDescriptions"
    class="table-auto w-full bg-zinc-800 rounded-b text-sm"
  >
    <thead class="sr-only">
      <tr>
        <th>Version</th>
        <th>Description</th>
      </tr>
    </thead>
    <tr
      *ngFor="let description of descriptions; let i = index"
      [ngClass]="{
        'border-b border-y-zinc-700': i !== descriptions.length - 1
      }"
    >
      <td class="w-1/4 p-2 font-semibold">
        {{ getVersionName(description.version_id) }}
      </td>
      <td class="p-2">
        {{ description.flavor_text }}
      </td>
    </tr>
  </table>
  <ng-template #noDescriptions>
    <div
      class="flex items-center justify-center w-full h-full bg-zinc-800 rounded-b"
    >
      <span class="text-sm p-4 text-center">
        No Pokédex descriptions are available for this Pokémon for any Pokédex
        in this version group.
      </span>
    </div>
  </ng-template>
</div>
