<div class="flex flex-col rounded w-full bg-byzantium">
  <app-container-header
    [title]="'Pokémon Forms'"
    class="text-sm"
  ></app-container-header>
  <owl-carousel-o
    [options]="customOptions"
    class="w-full py-2 bg-zinc-800 rounded-b"
    #owlCarousel
  >
    <ng-template *ngFor="let pokemonForm of pokemonForms" carouselSlide>
      <div
        class="flex flex-col justify-center items-center h-36 w-32 ml-2 gap-1 cursor-pointer rounded bg-zinc-900 hover:bg-zinc-800 border border-zinc-700"
        (click)="selectForm(pokemonForm)"
      >
        <img [src]="getFormImage(pokemonForm.id)" class="object-contain h-24" />
        <span class="text-center text-xs text-clip">{{
          pokemonForm.form_name ? pokemonForm.form_name : pokemonForm.name
        }}</span>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
