<owl-carousel-o [options]="customOptions">
  <ng-template *ngFor="let pokemonForm of pokemonForms" carouselSlide>
    <div
      class="flex flex-col gap-1 items-center p-2 cursor-pointer rounded bg-zinc-900 hover:bg-zinc-800 border border-zinc-700"
      (click)="selectForm(pokemonForm)"
    >
      <img
        [src]="getFormImage(pokemonForm.id)"
        height="50"
        width="50"
        class="object-contain rounded-t"
      />
      <span class="text-center text-xs text-clip">{{
        pokemonForm.form_name ? pokemonForm.form_name : pokemonForm.name
      }}</span>
    </div>
  </ng-template>
</owl-carousel-o>
