<div>
  <ul class="flex text-xs text-center overflow-x-scroll">
    <li
      *ngFor="let tab of tabs"
      class="me-2 inline-block whitespace-nowrap p-4 rounded-t hover:bg-light_tertiary dark:hover:bg-dark_tertiary"
      (click)="selectTab(tab)"
      [ngClass]="{
        'cursor-default font-sans-semi-bold': tab === activeTab,
        'cursor-pointer': tab !== activeTab
      }"
      aria-current="page"
    >
      <span>
        {{ tab.name }}
      </span>
      <div
        *ngIf="tab === activeTab"
        class="h-2 w-4 bg-porygon_blue_darker"
      ></div>
    </li>
  </ul>
  <div class="">
    <ng-content></ng-content>
  </div>
</div>
