<div class="flex flex-col items-center p-4">
  <div class="max-w-screen-xl bg-zinc-950 rounded w-full sm:w-[620px]">
    <div class="flex flex-col gap-3 pb-4 w-full">
      <app-container-header
        class="mb-2"
        [title]="'Select Pokédex Version'"
      ></app-container-header>
      <app-pokedex-select-item
        class="pokedex-select-item p-2 flex justify-center"
        [versionGroup]="{
              id: 10000,
              identifier: 'national',
              name: 'National',
              generation_id: null,
              order: 10000,
            }"
      >
      </app-pokedex-select-item>
      <ng-container
        *ngIf="versionGroups && versionGroups.length > 0; else elseBlock"
      >
        <div class="mx-4 rounded" *ngFor="let generation of generations">
          <h3 class="font-sans-semi-bold text-xl font-bold mb-3">
            {{ generation.name }}
          </h3>
          <div class="bg-zinc-700 h-[1px] w-full rounded"></div>
          <div class="flex items-center flex-wrap gap-2 p-2">
            <app-pokedex-select-item
              class="pokedex-select-item"
              *ngFor="
                let versionGroup of getVersionGroupsByGenerationId(
                  generation.id
                )
              "
              [versionGroup]="versionGroup"
            >
            </app-pokedex-select-item>
          </div>
        </div>
      </ng-container>
      <ng-template #elseBlock>
        <div class="flex w-full justify-center items-center">
          <app-spinner></app-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</div>
