<footer class="flex flex-col justify-center items-center bg-zinc-950 p-4 gap-4">
  <p class="text-sm max-w-md text-center leading-relaxed text-zinc-500">
    Made with 🌸 for fun and coding practice. You can report bugs and suggest
    features for Gracidea on the
    <a
      href="https://github.com/lewisgormanneale/gracidea"
      rel="noreferrer"
      target="_blank"
      class="underline text-shaymin_darker transition hover:text-shaymin"
      >GitHub repository</a
    >. Check out my
    <a
      href="https://lewisgormanneale.com/"
      rel="noreferrer"
      target="_blank"
      class="underline text-shaymin_darker transition hover:text-shaymin"
      >website</a
    >
    for more of my projects.
  </p>
  <p class="text-center text-sm text-zinc-600">
    Pokémon images & names © 1995-2023 Nintendo/Game Freak.
  </p>
</footer>
