<div class="card border border-dark">
  <div class="card-header fw-bold bg-primary white-outlined">
    Pokédex Descriptions
  </div>
  <div class="card-body text-center">
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let description of englishDescriptions"
        class="list-group-item text-start"
      >
        {{ description }}
      </li>
    </ul>
    <a
      class="btn btn-primary white-outlined"
      *ngIf="uniqueDescriptions.length > 3"
      (click)="toggleShowMore()"
    >
      {{ showMore ? "Show Less" : "Show More" }}
    </a>
  </div>
</div>
