<div class="flex flex-col rounded bg-zinc-200 w-full border border-zinc-800">
  <app-container-header [title]="'Pokédex Descriptions'"></app-container-header>
  <div class="flex flex-col text-center rounded-b">
    <ul class="w-full flex flex-col">
      <li
        *ngFor="let description of englishDescriptions"
        class="text-start text-sm text-zinc-800 border-y-zinc-300 border-b px-2 py-3"
      >
        {{ description }}
      </li>
    </ul>
    <a
      class="flex justify-center items-center bg-zinc-800 cursor-pointer hover:bg-green-800 font-sans-semi-bold px-4 py-2"
      *ngIf="uniqueDescriptions.length > 3"
      (click)="toggleShowMore()"
      >{{ showMore ? "Show Less" : "Show More" }}
    </a>
  </div>
</div>
