<div class="flex flex-col items-center p-4">
  <div class="max-w-screen-md bg-zinc-950 rounded w-full">
    <div
      *ngIf="post && post.mainImage && imagesLoaded; else elseBlock"
      class="flex flex-col pb-4 w-full rounded"
    >
      <img src="{{ post.mainImage }}" class="rounded-t" />
      <h2 class="font-sans-semi-bold text-4xl font-bold p-4">
        {{ post.title }}
      </h2>
      <div class="bg-zinc-700 h-[1px] w-full rounded"></div>
      <div class="flex flex-row justify-between items-center p-4 w-full">
        <div
          class="flex flex-row items-center gap-2"
          *ngIf="
            post.author &&
            post.author.image &&
            post.author.name &&
            post.author.image.asset &&
            imagesLoaded
          "
        >
          <img
            src="{{ post.author.image.asset }}"
            height="30"
            width="30"
            class="rounded-full"
          />
          <span class="font-sans-semi-bold">
            {{ post.author.name }}
          </span>
        </div>
        <span class="font-sans-semi-bold">
          {{ formatDate(post.publishedAt) }}
        </span>
      </div>
      <div class="bg-zinc-700 h-[1px] w-full rounded"></div>
      <div
        class="p-4 flex flex-col gap-3"
        [innerHTML]="toHTML(post.body)"
      ></div>
    </div>
    <ng-template #elseBlock>
      <div class="flex w-full h-64 justify-center items-center">
        <app-spinner></app-spinner>
      </div>
    </ng-template>
  </div>
</div>
