<div class="flex flex-col items-center p-4">
  <dd-card class="max-w-screen-md">
    <div
      *ngIf="post && post.mainImage && imagesLoaded; else elseBlock"
      class="flex flex-col pb-4 w-full rounded"
    >
      <img src="{{ post.mainImage }}" class="rounded-t" />
      <h2 class="font-bold text-4xl p-4">
        {{ post.title }}
      </h2>
      <div
        class="bg-light_tertiary dark:bg-dark_tertiary h-[1px] w-full rounded"
      ></div>
      <div class="flex flex-row justify-between items-center p-4 w-full">
        <div
          class="flex flex-row items-center gap-2"
          *ngIf="
            post.author &&
            post.author.image &&
            post.author.name &&
            post.author.image.asset &&
            imagesLoaded
          "
        >
          <img
            src="{{ post.author.image.asset }}"
            height="30"
            width="30"
            class="rounded-full"
          />
          <span class="font-semibold">
            {{ post.author.name }}
          </span>
        </div>
        <span class="font-semibold">
          {{ formatDate(post.publishedAt) }}
        </span>
      </div>
      <div
        class="bg-light_tertiary dark:bg-dark_tertiary h-[1px] w-full rounded"
      ></div>
      <div
        class="p-4 flex flex-col gap-3"
        [innerHTML]="toHTML(post.body)"
      ></div>
    </div>
    <ng-template #elseBlock>
      <div class="flex w-full h-64 justify-center items-center">
        <dd-spinner></dd-spinner>
      </div>
    </ng-template>
  </dd-card>
</div>
