<dd-card [title]="'Pokémon Base Stats'">
  <table
    class="table-auto w-full bg-light_primary dark:bg-dark_primary rounded-b text-sm"
  >
    <thead class="sr-only">
      <tr>
        <th>Stat</th>
        <th>Base</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tr
      *ngFor="let stat of stats; index as i"
      class="border-b border-y-light_tertiary dark:border-y-dark_tertiary"
    >
      <td class="p-2 pr-0 w-2/4 font-semibold">
        {{ stat.stat_id.name }}
      </td>
      <td class="p-2 text-right w-1/4">
        {{ stat.base_stat }}
      </td>
      <td class="p-2">
        <div class="w-full h-5 rounded bg-light_tertiary dark:bg-dark_tertiary">
          <div
            class="rounded-l h-full flex justify-center items-center"
            [ngClass]="getProgressBarClass(stat.base_stat)"
            [ngStyle]="getProgressBarStyle(stat.base_stat)"
          ></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="p-2 font-semibold text-sm text-left">Total</td>
      <td class="p-2 font-semibold text-sm text-right">{{ total }}</td>
    </tr>
  </table>
</dd-card>
