<header
  class="z-50 w-screen h-[60px] sm:h-[74px] flex flex-nowrap gap-8 justify-between items-center px-4 bg-white dark:bg-black shadow-md drop-shadow-md"
>
  <a class="flex items-center gap-2 h-[60px] w-full sm:w-auto" routerLink="/">
    <img
      src="../../assets/images/dubious-disc.png"
      width="40"
      height="40"
      alt=""
    />
    <span class="font-righteous pr-2 text-md sm:text-xl md:text-3xl uppercase">
      Dubious Disc
    </span>
  </a>
  <nav aria-label="Global" class="flex flex-1 items-center z-50 h-full">
    <ul class="flex items-center h-full">
      <ng-container *ngFor="let navItem of navItems">
        <li class="h-full">
          <dd-header-dropdown
            [navItem]="navItem"
            class="h-full"
          ></dd-header-dropdown>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>
