<header
  class="z-50 w-screen bg-byzantium h-[10vh] sm:h-[6vh] flex flex-nowrap justify-between items-center px-4 text-zinc-200"
>
  <div
    class="flex flex-nowrap sm:flex-nowrap max-w-screen-xl justify-between items-center sm:gap-8"
  >
    <a
      class="flex justify-center items-center gap-2 h-[6vh] w-full sm:w-auto"
      routerLink="/"
    >
      <img
        src="../../assets/images/dubious-disc.png"
        width="40"
        height="40"
        alt=""
      />
      <span class="font-righteous text-3xl uppercase"> Dubious Disc </span>
    </a>
    <nav
      aria-label="Global"
      class="flex flex-1 justify-center sm:justify-start items-center h-[4vh] sm:h-[6vh] w-full z-50"
    >
      <ul class="flex justify-center sm:justify-start items-center h-full">
        <ng-container *ngFor="let navItem of navItems">
          <dd-header-dropdown-item
            [navItem]="navItem"
            class="h-full"
          ></dd-header-dropdown-item>
        </ng-container>
      </ul>
    </nav>
  </div>
  <div>
    <button (click)="toggleDarkMode()" class="text-zinc-50">Dark Mode</button>
  </div>
</header>
