<div class="relative inline-block text-left rounded" *ngIf="options.length > 0">
  <div>
    <button
      type="button"
      class="inline-flex justify-center items-center w-36 h-10 gap-x-1.5 bg-zinc-700 px-3 py-2 text-xs font-semibold rounded"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
      (click)="toggleDropdown()"
    >
      {{ placeholder }}
      <ng-icon [name]="'heroChevronDownSolid'"></ng-icon>
    </button>
  </div>
  <div
    class="absolute z-40 mt-2 w-56 rounded bg-zinc-700 max-h-[60vh] overflow-y-scroll"
    [ngClass]="{
      'right-0 origin-top-right': origin === 'right',
      'left-0 origin-top-left': origin === 'left'
    }"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
    *ngIf="showDropdown"
  >
    <div class="py-1" role="none">
      <a
        *ngFor="let option of options"
        [routerLink]="option.path"
        class="block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        >{{ option.name }}</a
      >
    </div>
  </div>
</div>
