<div></div>
<div
  class="relative inline-block text-left rounded"
  *ngIf="sections && sections.length > 0"
>
  <div>
    <button
      type="button"
      class="inline-flex justify-center items-center w-36 h-10 gap-x-1.5 px-1 py-2 text-xs rounded cursor-pointer bg-zinc-900 hover:bg-zinc-800 border border-zinc-700"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
      (click)="toggleDropdown()"
    >
      <span class="w-5/6"> {{ placeholder }}</span>
      <div class="w-1/6 flex justify-center items-center">
        <ng-icon [name]="'heroChevronDownSolid'"></ng-icon>
      </div>
    </button>
  </div>
  <div
    class="absolute z-40 mt-2 w-56 rounded bg-zinc-950 max-h-[60vh] overflow-y-scroll border border-zinc-700 scrollbar-thumb-zinc-800 scrollbar-track-zinc-950"
    [ngClass]="{
      'right-0 origin-top-right': origin === 'right',
      'left-0 origin-top-left': origin === 'left',
    }"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
    *ngIf="showDropdown"
    [@fadeInOut]
  >
    <ng-container *ngFor="let section of sections; let i = index">
      <ng-container>
        <div
          id="menuitem-{{ i }}-{{ section.name }}"
          class="text-xs font-semibold px-2 py-1 bg-porygon_blue_darker"
          role="menuitem"
          tabindex="-1"
        >
          {{ section.name }}
        </div>
      </ng-container>
      <div class="h-0.5 bg-zinc-800" role="none"></div>
      <ng-container *ngFor="let option of section.options; let i = index">
        <a
          id="menuitem-{{ i }}-{{ option.name }}"
          routerLink="{{ option.path }}"
          role="menuitem"
          class="block px-4 py-2 font-sans text-sm hover:bg-zinc-800"
        >
          {{ option.name }}
        </a>
      </ng-container>
    </ng-container>
  </div>
</div>
