<div
  class="flex flex-col justify-center items-center rounded cursor-pointer bg-zinc-900 hover:bg-zinc-800 border border-zinc-700"
  style="width: 90px; height: 130px"
>
  <img
    class="transition-all duration-300 ease-in-out"
    [defaultImage]="'assets/images/question-icon.png'"
    [lazyLoad]="imageURL"
    height="100"
    width="100"
  />
  <div
    class="flex justify-center items-center text-center text-xs"
    style="height: 30px; width: 100%"
  >
    <span>{{ pokemon.species_id.name }}</span>
  </div>
</div>
