@import "src/styles/variables.scss";

.team-planner-item {
  background-color: $primary;
  cursor: pointer;
  width: 80px;
  height: 105px;

  .team-planner-item-picture-container {
    background-color: #00000059;

    .team-planner-item-picture {
      width: 78px;
      height: 78px;
      margin: 0 auto;
      display: block;
      color: transparent;
    }

    .team-planner-item-picture:hover {
      transform: scale(1.15);
      transition: transform 0.2s ease-in-out;
    }
  }

  .team-planner-item-picture-container:hover {
    background-color: #ffffff00;
  }

  .team-planner-item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    word-wrap: break-word;
    background-color: $primary;
    overflow: hidden;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
  }
}
