<article class="flex bg-zinc-800 transition hover:shadow-xl rounded">
  <div class="hidden sm:block sm:basis-56">
    <img
      alt="Guitar"
      src="{{ post.mainImage }}"
      class="aspect-square h-full w-full object-cover"
    />
  </div>

  <div class="flex flex-1 flex-col justify-between">
    <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
      <a [routerLink]="['/', 'news', post.slug.current]">
        <h3 class="font-bold uppercase">{{ post.title }}</h3>
      </a>

      <p
        class="mt-2 line-clamp-3 text-sm/relaxed text-zinc-400"
        [innerHTML]="toHTML(post.body)"
      >
        {{ post.body[0]["children"][0]["text"] }}
      </p>
    </div>

    <div class="sm:flex sm:items-end sm:justify-end">
      <a
        [routerLink]="['/', 'news', post.slug.current]"
        class="block bg-byzantium px-5 py-3 text-center text-xs font-sans-semi-bold uppercase transition hover:bg-old_mauve rounded-br"
      >
        View Full Post
      </a>
    </div>
  </div>
</article>
