@import "src/styles/variables.scss";

.pokedex-version-group-select-title {
  font-family: "Righteous", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pokedex-version-group-select-list {
  gap: 10px;
}
