<div *ngIf="versionGroups" class="px-3">
  <h2 class="mt-5 mb-10 font-righteous font-bold text-3xl uppercase">
    Select Pokédex Version
  </h2>
  <ng-container *ngFor="let generation of generateGenerationNames()">
    <h3 class="font-righteous text-2xl font-bold mb-8 text-center">
      {{ getFormattedGenerationName(generation) }}
    </h3>
    <div class="flex justify-center items-center flex-wrap gap-5 mb-5">
      <app-pokedex-version-group-select-item
        *ngFor="let versionGroup of getVersionGroupsByGeneration(generation)"
        [versionGroup]="versionGroup"
      >
      </app-pokedex-version-group-select-item>
    </div>
  </ng-container>
</div>
