<div *ngIf="versionGroups" class="px-3">
  <h2 class="pokedex-version-group-select-title mt-5 pt-4 text-light">
    Select Pokédex Version
  </h2>
  <ng-container *ngFor="let generation of generateGenerationNames()">
    <h3 class="generation-title text-light">
      {{ getFormattedGenerationName(generation) }}
    </h3>
    <div
      class="pokedex-version-group-select-list d-flex justify-content-center flex-wrap mb-4"
    >
      <app-pokedex-version-select-item
        *ngFor="let versionGroup of getVersionGroupsByGeneration(generation)"
        [versionGroup]="versionGroup"
      >
      </app-pokedex-version-select-item>
    </div>
  </ng-container>
</div>
