<div class="flex flex-col rounded-b py-2 w-full bg-zinc-800">
  <div *ngIf="listView; else gridView" class="flex flex-col w-full">
    <dd-pokedex-list-view-item
      *ngFor="let pokemon of pokemonEntries; index as index"
      [pokemon]="pokemon"
      (click)="onPokemonClick(pokemon)"
      class=""
      [ngClass]="{
        'border-t border-zinc-700': index === 0
      }"
    ></dd-pokedex-list-view-item>
  </div>
  <ng-template #gridView>
    <div class="flex flex-wrap gap-2 justify-center p-2">
      <dd-pokedex-grid-view-item
        *ngFor="let pokemon of pokemonEntries"
        [pokemon]="pokemon"
        (click)="onPokemonClick(pokemon)"
      ></dd-pokedex-grid-view-item>
    </div>
  </ng-template>
</div>
