<div class="flex flex-col items-center p-4">
  <div class="max-w-screen-xl bg-zinc-950 rounded p-4">
    <ng-container *ngIf="pokemon_species && pokemon; else loading">
      <div class="flex flex-col items-center">
        <div class="flex flex-col items-center" style="max-width: 900px">
          <section
            class="flex flex-col md:flex-row items-center md:items-start gap-3 w-full"
          >
            <div
              *ngIf="pokemon_types && pokemon_types.length > 0"
              class="text-center border border-zinc-800 w-full rounded h-[483px] flex flex-col justify-between"
            >
              <img
                src="{{ this.imageUrl }}"
                class="w-full h-full object-contain min-w-[300px] rounded-t"
                [style.background]="
                  pokemon_types && pokemon_types.length > 1
                    ? 'linear-gradient(to bottom right, #' +
                      pokemon_types[0].type_id.type_color +
                      ',' +
                      '#' +
                      pokemon_types[1].type_id.type_color +
                      ')'
                    : '#' + pokemon_types[0].type_id.type_color
                "
              />
              <div>
                <div
                  class="bg-byzantium border-t border-zinc-800"
                  style="height: 50px"
                >
                  <h2 class="p-2">
                    <span class="white-outlined text-xl"
                      >#{{ pokemon_species.id }}</span
                    ><span class="font-sans-bold text-xl">
                      {{ pokemon_species.name }}</span
                    >
                  </h2>
                </div>
                <div
                  class="flex justify-between items-center px-2 bg-zinc-800"
                  [ngClass]="
                    pokemon_types.length > 1
                      ? 'justify-content-between'
                      : 'justify-content-center'
                  "
                  style="height: 50px"
                >
                  <app-type-box
                    *ngFor="let type of pokemon_types"
                    [type]="type.type_id"
                  ></app-type-box>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col justify-content-between w-full gap-3 rounded"
            >
              <app-pokemon-data
                [pokemon]="pokemon"
                [pokemon_species]="pokemon_species"
              ></app-pokemon-data>
              <app-pokemon-stats [pokemon_id]="pokemon.id"></app-pokemon-stats>
            </div>
          </section>
          <section class="w-full justify-content-center my-3">
            <app-pokemon-forms
              [pokemon_forms]="pokemon_forms"
            ></app-pokemon-forms>
          </section>
          <section class="w-full justify-content-center my-3">
            <app-pokemon-descriptions
              [pokemon_species_id]="pokemon_species.id"
            ></app-pokemon-descriptions>
          </section>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="w-full">
        <app-spinner></app-spinner>
      </div>
    </ng-template>
  </div>
</div>
