<div
  class="text-center border border-zinc-800 h-full w-full rounded flex flex-col justify-between"
>
  <div class="relative h-full w-full">
    <dd-button class="absolute top-2 left-2" (onClick)="shinyToggle()">
      <ng-icon
        [name]="'heroSparklesSolid'"
        [ngClass]="{ 'text-orange-300': shiny }"
        aria-labelledby="shiny-button-label"
      ></ng-icon>
      <div class="sr-only" id="shiny-button-label">
        Toggle Pokémon's Shiny Sprite
      </div>
    </dd-button>
    <dd-button
      *ngIf="pokemonSpecies.has_gender_differences"
      class="absolute top-14 left-2"
      (onClick)="genderToggle()"
    >
      <ng-icon
        [name]="'bootstrapGenderFemale'"
        [ngClass]="{ 'text-pink-400': female }"
        aria-labelledby="gender-button-label"
      ></ng-icon>
      <div class="sr-only" id="gender-button-label">
        Toggle Pokémon's Gender, When It Affects Appearance
      </div>
    </dd-button>
    <div
      class="w-full h-full flex justify-center items-center rounded-t"
      [style.background]="getTypeBackgroundColor()"
    >
      <img
        src="{{ this.imageUrl }}"
        class="w-full h-full object-contain min-w-[300px] max-w-[390px] rounded-t"
      />
    </div>
  </div>
  <div>
    <div class="bg-byzantium border-t border-zinc-800" style="height: 50px">
      <h2 class="p-2">
        <span class="font-bold text-xl"> {{ selectedForm.name }}</span>
      </h2>
    </div>
    <div
      class="flex justify-between items-center p-2 bg-zinc-800"
      *ngIf="pokemonTypes && pokemonTypes.length > 0"
      [ngClass]="
        pokemonTypes.length > 1
          ? 'justify-content-between'
          : 'justify-content-center'
      "
    >
      <dd-type-box
        *ngFor="let type of pokemonTypes"
        [type]="type.type_id"
      ></dd-type-box>
    </div>
  </div>
</div>
