<div
  class="text-center border border-light_tertiary dark:border-dark_tertiary h-full w-full rounded flex flex-col justify-between"
>
  <div class="relative h-full w-full">
    <dd-button
      class="absolute top-2 left-2"
      [ariaLabel]="'Toggle ' + selectedForm.name + '\'s Shiny Sprite'"
      (onClick)="shinyToggle()"
    >
      <ng-icon
        [name]="'heroSparklesSolid'"
        [ngClass]="{ 'text-orange-300': shiny }"
      ></ng-icon>
    </dd-button>
    <dd-button
      *ngIf="pokemonSpecies.has_gender_differences"
      class="absolute top-14 left-2"
      [ariaLabel]="
        'Toggle ' +
        selectedForm.name +
        '\'s gender (This Pokémon has gender differences)'
      "
      (onClick)="genderToggle()"
    >
      <ng-icon
        [name]="'bootstrapGenderFemale'"
        [ngClass]="{ 'text-pink-400': female }"
        aria-labelledby="gender-button-label"
      ></ng-icon>
    </dd-button>
    <div
      class="w-full h-[450px] flex justify-center items-center rounded-t"
      [style.background]="getTypeBackgroundColor()"
    >
      <img
        style="font-size: 0"
        *ngIf="this.imageUrl"
        [ngSrc]="this.imageUrl"
        [alt]="selectedForm.name"
        class="rounded-t text-opacity-0 object-contain"
        width="400"
        height="400"
        priority
      />
    </div>
    <div>
      <div
        class="bg-white dark:bg-black border-b border-light_tertiary dark:border-dark_tertiary"
        style="height: 50px"
      >
        <h2 class="p-2">
          <span class="font-bold text-xl"> {{ selectedForm.name }}</span>
        </h2>
      </div>
      <div
        class="flex justify-between items-center p-2 bg-light_primary dark:bg-dark_primary"
        *ngIf="pokemonTypes && pokemonTypes.length > 0"
        [ngClass]="
          pokemonTypes.length > 1
            ? 'justify-content-between'
            : 'justify-content-center'
        "
      >
        <dd-type-box
          *ngFor="let type of pokemonTypes"
          [type]="type.type_id"
        ></dd-type-box>
      </div>
    </div>
  </div>
</div>
