@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  background-color: #09090b /* zinc-950 */;
  color: #e4e4e7 /* zinc-200 */;
  min-height: 100vh;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.white-outlined {
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.owl-theme .owl-dots .owl-dot span {
  background: #e4e4e7 !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #702f63 !important;
}
